# Notebook Instructions

1. All the <u>code and data files</u> used in this course are available in the downloadable unit of the <u>last section of this course</u>.
2. You can run the notebook document sequentially (one cell at a time) by pressing **shift + enter**. 
3. While a cell is running, a [*] is shown on the left. After the cell is run, the output will appear on the next line.

This course is based on specific versions of python packages. You can find the details of the packages in <a href='https://quantra.quantinsti.com/quantra-notebook' target="_blank" >this manual</a>.

## Operations and Functions in Python

You can perform all kinds of operations in Python that you can think of. 

In this notebook, you will learn about the following:

1. [Mathematical Operations](#mathematical-operations)
2. [Logical Operations](#logical-operations)
3. [Functions](#functions)

<a id='mathematical-operations'></a> 
##  Mathematical Operations

In the previous notebook, you have already seen how to perform basic mathematical operations such as addition and subtraction.

You can also calculate the exponents using the `**` operator and remainder on division using the `%` operator.

In [1]:
# 3**2 will return 3 raised to the power 2
print('Performing Exponentiation: ', 3**2)
# 15 % 4 will return the remainder after dividing 15 by 4
print('Performing Modulo: ', 15 % 4)

Performing Exponentiation:  9
Performing Modulo:  3

Python has a number of built-in math functions. You can import the math package to use these functions. Some of the most commonly used functions are:
* **abs()** - Return the absolute value
* **round()** - Round the number to a specified decimal points
* **max()** - Return the maximum number in the collection
* **min()** - Return the minimum number in the collection
* **sum()** - Return the sum of all the numbers

You can use the `import` keyword to import the `math` library. By importing a library, you can use all the codes, available in that library, in your program.

In [2]:
# Import math library
import math

Python supports a long list of mathematical functions using the math package. You can read more about it [here](https://docs.python.org/3/library/math.html). You can now use all the functions in the math library.

In [3]:
print('Pi: ', math.pi)
print("Euler's Constant: ", math.e)
print('Cosine of pi: ', math.cos(math.pi))

Pi:  3.141592653589793
Euler's Constant:  2.718281828459045
Cosine of pi:  -1.0

<a id='logical-operations'></a> 
##  Logical Operations



You can use comparison operators to perform logical operations in Python. These opeartors are:
* `==` : equal 
* `!=` : not equal 
* `<` : less than 
* `>` : greater than 
* `<=` : less than or equal to
* `>=` : greater than or equal to

These operations return boolean values, either `True` or `False`.

In [4]:
print(5 == 5)

True

In [5]:
print(5 > 5)

False

These comparators also work in conjunction with variables.

In [6]:
m = 2
n = 23
print(m < n)

True

The other logical operators supported by Python are:
* `not`: This operator negates the result of the logical operation. If it is placed in front of a true statement, it would return false, and vice-versa.
* `or`: This operator operates on two statements. If either of the statement (or both) is true, it returns true.
* `and`: This operator also operates on two statements. Only when both the statements are true, it returns true. Else it returns false.

Say that we have two logical statements, or assertions, $P$ and $Q$. The truth table for the basic logical operators is as follows:

|P|Q|not P|P and Q|P or Q|
|---|---|---|---|---|
|True|True|False|True|True|
|False|True|True|False|True|
|True|False|False|False|True|
|False|False|True|False|False|

Let's look at some examples.

In [7]:
print(not (4 < 2))

True

In [8]:
print((2 > 3) or (3 > 0))

True

In [9]:
print((2 < 3) and (3 > 0))

True

In [10]:
print((5 > 6) and not (4 < 2))

False

In [11]:
print(((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2)))

True

<a id='functions'></a> 
##  Functions

Functions are a reusable block of code that can be called repeatedly to perform a set of defined calculations. It helps you write clean and modular code.

In [12]:
# Define a function
def hello_world():
    """ Prints Hello, world! """
    print('Hello, world!')


# Call the function    
hello_world()

Hello, world!

You can call this `hello_world()` repeatedly to print the message multiple times.

In [13]:
# Call 1
hello_world()
# Call 2
hello_world()
# Call 3
hello_world()

Hello, world!
Hello, world!
Hello, world!

Functions are defined with `def`, a function name, a list of parameters, and a colon. Everything indented below the colon will be included in the definition of the function.

A variable created inside a function can be used only inside the function. This is called the scope of the variable. If you want to keep a value that a function calculates, you need to return the value. Let's look at an example.

In [14]:
def see_the_scope():
    in_function_string = "I'm stuck in here!"

see_the_scope()
print(in_function_string)

NameError: name 'in_function_string' is not defined

You can see the error above. How can you interpret the error? It points to the line which shows an error, line with the `print` statement. Why is this error? It says that the variable `in_function_string` is not defined. But you have defined it. So what happened? You called the variable `in_function_string` outside the function. Since the variable is defined inside function, it is not known outside the function. And you cannot access it. This is called the scope of the variable.

The scope of a variable is the part of the code where that variable can be used. You can pass a variable to the `return` statement to be able to use its value outside the function. This value can then be stored in another variable with greater scope.

In the example below, a return statement allows you to keep the string value defined in the function.

In [15]:
def free_the_scope():
    in_function_string = "You can use this outside the function!"
    return in_function_string

my_string = free_the_scope()
print(my_string)

You can use this outside the function!

Just like getting a value out of a function, you can also put values into a function. This is done by defining the function parameters.

In [16]:
def multiply_by_five(x):
    """ Multiplies an input number by 5 """
    return x * 5

n = 4
print(n, multiply_by_five(n))

m = 10
print(m, multiply_by_five(m))

4 20
10 50

In this example, we only had one parameter for our function, x. We can easily add more parameters, separating everything with a comma.

In [17]:
def multiply_x_by_y(x, y):
    """ Calculates the product of x and y """
    return x * y

x = 5
y = 10
print('x: ', x)
print('y: ', y)
print('Product: ', multiply_x_by_y(x, y))

x:  5
y:  10
Product:  50

In the upcoming units, you will learn about a data structure, dataframe. <br><br>